html, body {
    margin: 0;
 padding: 0; 
    font-family: 'Inter', sans-serif;
  

}

nav {
   /* position: fixed; */
    top: 0;
    left: 0;
    right: 0;
    overflow: auto;  
      background-color: #262B36;
    height: 4.5em;
   
   
}

ul {
    list-style-type: none;
    margin: 0 ;
    padding: 0;
    align-items: center;
    text-align: center;
    
  }
  ul > li{
    display:inline-block;

}


a {
   color: #FFFFFF !important;
   margin: 1.5em;
   letter-spacing: 0.1em;
   display: block;
   

}
a:link {
    text-decoration: none;

  }


    /* -----Headline SECTION --------*/      
      
      
        .container-contact {
          width: 100%;
          height: 60em;
          flex-direction: column;
          background-color: #F8F5F2;
          }
          
          
          
          .contact-img img {
            position: absolute;
            width: 50em ;
            height: 35em;
            border-radius: 8px;
            margin-top: 5em;
            margin-left: 5em;

          }
          
          .text-contact {
            display: inline-block;  
            font-size: 25px;
            font-weight: 300;
          width:30em;
          color: #A10F33;
         font-family: 'Roboto', sans-serif;
         position: relative;
         margin-left: 30em;
         z-index: 1;
        margin-top: 9em;
        
          
          }
           
          .text-contact p{
            display: inline-block;  
          z-index: 1;
margin-left: 7em;
width:15em;
color: black;
font-weight: 200;
margin-top: 0;
      
          }
          
            .question  {
              color: #A10F33;
              font-style: italic;
              font-size: 35px;
              margin-left: 5em;
              z-index: 1;
              font-weight: 500;
letter-spacing: 1mm;
font-weight: 300;

              }
          
    .sayhi {
        margin-top: 3em;
        color: #A10F33;
        font-style: italic;
        font-size: 30px;
        margin-left: 6em;
        z-index: 1;
font-weight: 300;
letter-spacing: 1mm;
    }

   .text-contact input {
        margin-left: 14em;
        width: 23em;
        height: 2em;
        outline: 0;
  border-width: 0 0 2px;
  background-color: #F8F5F2;

    }

    .contact-info {
        display: inline-block;  
        z-index: 1;
margin-left: 5em;
width:25em;
color: #A10F33;
font-weight: 300;
margin-top: 5em;
    font-size: 20px;
    letter-spacing: 0.2em;
    }



       /* -----FOLLOW US SECTION --------*/
  
  .followus-sec {
    display: flex;
    flex-direction: row;
  margin-left: 40%;
  margin-bottom: 5em;
  margin-top: 5em;
  align-items: center;
  }
  .container-followus {  
    margin-left: 3em;
  
  }
  
  .headline-followus {
  display: block;
  }
  
  .headline-followus h3 {
    transition: 0.5s;
    font-size: 20px;
  
  }
  .headline-followus h3:hover {
  color: #A10F33;
  font-weight: 300;
  
  }
  
  .img-followus img{
   /* display: inline-block; */
  transition: 0.5s;
  }
  
  .img-followus img:hover {
  
    color: #A10F33;
  }
  


  /* -----FOOTER --------*/

footer {
    background-color: #262B36;
    color: #FFFFFF;
    height: 20em;
    box-sizing: border-box;
  
  }
  
  .form-control input {
    width: 10em;
    height: 3em;
    margin-top: 2em;
  
  }
  
  
  .signup {
    text-align: center;
    margin: 2em 2em 0 10em;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.1em;
  
  }
  
  .form-control {
    margin-top: 2em;
    width: 10%; 
  }
  
  .btn-outline-secondary {
    height: 3em;
    margin-top: 2em;
  }
  
  
  
  .info-sec {
  float: left;
  width: 15%;
  margin-top: 8em;
  }
  
  .info-sec a {
  margin: 0 1em 0 1em;
    width: 100%;
    color:#FFFFFF;
    font-size: 10px;
    font-weight: 300;
  }
  
  
  
  .line-sec {
    padding: 0;
    display: flex;
    margin: 0;
  justify-content: center;
  margin-top: 11em;
  }
  
  .line-text {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 10px;
  margin-left:2em;
  padding: 0;
  font-weight: 300;
  }