html, body {
  margin: 0;
padding: 0; 
  font-family: 'Inter', sans-serif;


}

div.container {
  width: auto;
  height: 3.5em;

  }
  
  .nav-item {
      margin-left: 3em;
      letter-spacing: 0.2em;

  }
  
  .navbar-expand-lg {
      background-color: #262B36;
  }
  
  .navbar-nav .active {
      font-weight: bold;
    } 
  
    .navbar-nav {
      font-size: medium;
      
    }

  /*------------ Chocolate more Chocolate ------------*/
 main {
    margin:0;
 }

  .container-concept {
    display: inline-block;
    background-color: #F8F5F2;
    text-align: center;
  height: 60em;
  width: 100%;

  

  }

.headline-container {
    margin: 5em 0 3em 3em ;
}

.concept-sec {
    display: block;
}

.choco-one {
    display: inline-block;
  }

  .choco-one img {
    width: 25em;
    height: 35em;
   border-radius: 8px;
margin-left: 3em;
}
 


.headline-container h2 {
    text-align: center;
    color: #A10F33;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
margin: auto;
font-size: 30px;
}

.choco {
font-weight: 300;

}

.more-choco {
    font-weight: 200;
    margin-left:2.5em;
    }


.choco-text {
    font-size: 18px;
    font-family: 'ROBOTO', sans-serif;
    margin-left: 1em;
    margin-top: 1em;
  }





    /*------------ LAVA CAKES ------------*/

    .container-lava {
        display: flex;
        width: 110em;
      height: 60em;
      width: 100%;
      flex-direction: column;
      text-align: center;
justify-content: center;
margin-top: 0;
      }
      
      .headline-lava h2 {
        color: #A10F33;
        text-align: center;
        font-style: italic;
        font-family: 'Roboto', sans-serif;
        justify-content: center;
        font-weight: 300;
        letter-spacing: 0.1em;
        font-size: 30px;
        }

        .lava-sec {
            display: flex;
justify-content: center;       
   }

          .lava {
            display:inline-block
          }

          .lava img {
            border-radius: 20em;
            width:30em;
            height: 20em;
          justify-content: space-around;
          margin: 5em 2em 0 2em ;
          }

          .lava p {
        font-size: 18px;
        font-family: 'ROBOTO', sans-serif;
        margin-left: 1em;
        margin-top: 1em;
        font-weight: 400;
        }

            /*------------ TASTY SLICES ------------*/

.container-tasty {
    display: flex;
    width: 110em;
  height: 60em;
  width: 100%;
  flex-direction: column;
  text-align: center;
justify-content: center;
background-color: #F8F5F2;
margin-top: 0;

}


.headline-tasty h2 {
    color: #A10F33;
    text-align: center;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    font-weight: 300;
    letter-spacing: 0.1em;
    font-size: 30px;
    }


    .tasty-sec {
        display: flex;
justify-content: center;       
}

      .tasty {
        display:inline-block
      }

      .tasty img {
        border-radius: 8px;
        width:25em;
        height: 35em;
      justify-content: space-around;
      margin: 5em 2em 0 2em ;
      }


.tasty p {
    font-size: 18px;
    font-family: 'ROBOTO', sans-serif;
    margin-left: 1em;
    margin-top: 1em;
    font-weight: 400;
}
    /*------------ SPECIALS ------------*/


            .container-specials {
                display:flex;
                align-items: center;
                justify-content: center;
                align-content: center;
                font-weight: 300;
              flex-direction: column;
              margin-top: 10em;
              }
              
              .text-specials h2 {
                color: #A10F33;
                font-style: italic;
font-weight: 300;
font-size: 30px;
}

              .specials {
                display:inline-block;  
                margin-left: 8em;
              }
              
              .specials img {
                width: 25em;
                border-radius: 8px;
                position:relative;
                margin-top: 2em;
                padding: 0;
              
              }
              
              
              .specials p{
              text-align: center;
                font-size: 18px;
                font-family: 'ROBOTO', sans-serif;
                margin-left: 1em;
                margin-top: 1em;
                font-weight: 400;
              }
              

                  /*------------ FOLLOW US ------------*/

                  .followus-sec {
                    display: flex;
                    flex-direction: row;
                  margin-left: 40%;
                  margin-bottom: 5em;
                  margin-top: 5em;
                  align-items: center;
                  }
                  .container-followus {  
                    margin-left: 3em;
                  
                  }
                  
                  .headline-followus {
                  display: block;
                  }
                  
                  .headline-followus h3 {
                    transition: 0.5s;
                    font-size: 20px;
                  
                  }
                  .headline-followus h3:hover {
                  color: #A10F33;
                  font-weight: 300;
                  
                  }
                  
                  .img-followus img{
                   /* display: inline-block; */
                  transition: 0.5s;
                  }
                  
                  .img-followus img:hover {
                  
                    color: #A10F33;
                  }

     /* -----FOOTER --------*/

footer {
    background-color: #262B36;
    color: #FFFFFF;
    height: 20em;
    box-sizing: border-box;
  
  }
  
  input {
    width: 10em;
    height: 3em;
    margin-top: 2em;
  
  }
  
  
  .signup {
    text-align: center;
    margin: 2em 2em 0 10em;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.1em;
  
  }
  
  .form-control {
    margin-top: 2em;
    width: 10%; 
  }
  
  .btn-outline-secondary {
    height: 3em;
    margin-top: 2em;
  }
  
  
  
  .info-sec {
  float: left;
  width: 15%;
  margin-top: 8em;
  }
  
  .info-sec a {
  margin: 0 1em 0 1em;
    width: 100%;
    color:#FFFFFF;
    font-size: 10px;
    font-weight: 300;
  }
  
  
  
  .line-sec {
    padding: 0;
    display: flex;
    margin: 0;
  justify-content: center;
  margin-top: 11em;
  }
  
  .line-text {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 10px;
  margin-left:2em;
  padding: 0;
  font-weight: 300;
  }